{% extends "app_feria/padre1.html" %}



{% block titulo %}

<div class="text-center" >
    
    <h1 style="color:rgb(250, 254, 250) ;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px ;">
        Ingrese lo que desea buscar:                  
    </h1>
    
    <a class="btn btn-secondary  col-md-2" href="{% url 'Buscar Camisa' %}">
        Camisa
    </a>
    
</div>
 
{% endblock %}