{% extends "app_feria/padre2.html" %}


{% block titulo %}

<h1 style="color:rgb(250, 254, 250) ;
text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px ;">
    Calzados
</h1>

{% endblock %}


{% block descripcion %}


<div>
    <h5 style="color:rgb(250, 254, 250) ;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;">
        <p>Estás buscando calzado para {{busqueda_calza}}</p>
    </h5>

    <div class="container text-center">
        <div class="row">
            {% for calza in calzados %}
            <div class="col-sm-6 align-items-center">
                
                <div class="card-body">
                    <a class="list-group-item" style="border-radius:110px;border:outset;border-width: 3px; white-space: nowrap;" href="{% url 'Detalle_calzado' calza.id %}">

                        {% if calza.imagen %}

                        <img class="card-img-top" 
                        src="{{calza.imagen.url}}"style="
                        width: 339px;
                        height: 430px;">

                        {% elif calza.imagen_b %}

                        <img src="{{calza.imagen_b.url}}"style="
                        width: 339px;
                        height: 430px;">
                        
                        {% else %}

                        <h3 style="color:rgb(250, 254, 250);
                        text-shadow: 1px 2px 2px black, 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0);
                        text-align: center;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                            <ol>
                                Imagen no disponible
                            </ol>
                        </h3>

                        {% endif %}

                
                            
                        <h5 style="font-family:'Times New Roman', Times, serif ;">
                            Codigo {{calza.codigo}}
                        </h5>
                        <h4 style="font-family:'Times New Roman', Times, serif ;">
                            <strong>${{calza.precio}}</strong>
                        </h4>
                
                
                        {% if request.user.is_superuser %}
                
                        <a class="btn btn-danger col-md-4" href="{% url 'EliminaCalzado' calza.codigo %}">
                            Eliminar Calzado
                        </a>
                        <a class="btn btn-secondary col-md-4" href="{% url 'EditarCalzado' calza.codigo %}">
                            Editar Calzado
                        </a>
                        
                
                        {% else %}
                            
                        {% endif %}
                
                    </a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
        
</div>

{% if request.user.is_superuser %}
<div>
    <a class="btn btn-secondary col-md-2" href="{% url 'Crear Calzado' %}">
        Agregar Calzado
    </a>
</div>
{% else %}

{% endif %}



{% endblock %}
