{% extends "app_feria/padre2.html" %}


{% block titulo %}
<h1 class="title_detail">
    Calzado
</h1>
{% endblock %}


{% block descripcion %}

<div class="container text-center">

    <div class="row">
        
        <h6>
            
            <h5>

                {% if calzado.imagen and calzado.imagen_b %}
                <br>
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img class="img-thumbnail rounded img_detail" src="{{calzado.imagen.url}}">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="10000">
                        <img class="img-thumbnail rounded img_detail"src="{{calzado.imagen_b.url}}">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                  </div>


                {% elif calzado.imagen %}
                <br>
                <img class="img-thumbnail rounded img_detail" src="{{calzado.imagen.url}}">

                {% elif calzado.imagen_b %}
                <br>
                <img class="img-thumbnail rounded img_detail"src="{{calzado.imagen_b.url}}">

                {% else %}
                <br>
                <h1 class="img_not_allow_detail">
                        Imagen no disponible
                </h1>

                {% endif %}

            </h5>
            
            <h5 class="description_detail">
                
                {% if calzado.codigo %}
                <br>
                    Código: {{calzado.codigo}}
                <br>
                {% endif %}

                {% if calzado.talle %}
                <br>
                    Talle: {{calzado.talle}}
                <br>
                {% endif %}

                {% if calzado.color %}
                <br>
                    Color: {{calzado.color}}
                <br>
                {% endif %}

                {% if calzado.genero %}
                <br>
                    Para {{calzado.genero}}
                <br>
                {% endif %}

                {% if calzado.genero %}
                <br>
                <h2 class="description_precio">
                    <strong>${{calzado.precio}}</strong>
                </h2>
                {% endif %}
                


                {% if request.user.is_authenticated %}
                
                <div>
                    <a class="btn btn-primary" href="https://www.instagram.com/outlet_ini2/?next=%2F" target="_blank">
                        <h4 style="width:160px;height:23px;">
                            <strong style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                Consultar
                            </strong>
                        </h4>
                    </a>
                </div>


                {% else %}
                <div>
                    <a class="btn btn-primary" href="{% url 'Login' %}">
                        <h4 style="width:160px; height:23px;">
                            <strong style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                Consultar
                            </strong>
                        </h4>
                    </a>
                </div>

                {% endif %}

            </h5>
                    
        </h6>

    </div>

    {% if request.user.is_superuser %}

    <br>
    <a class="btn btn-danger col-md-2" href="{% url 'EliminaCalzado' calzado.codigo %}">
        Eliminar Calzado
    </a>
    <a class="btn btn-secondary col-md-2" href="{% url 'EditarCalzado' calzado.codigo %}">
        Editar Calzado
    </a>
              
    {% else %}
    
    {% endif %}    

</div>



{% endblock %}