{% extends "app_feria/padre2.html" %}


{% block titulo %}

<h1 class="title_object">
    Calzados
</h1>

{% endblock %}


{% block descripcion %}



<div>

    <h5 class="buscador">
        <p>Estás buscando calzado para {{busqueda_calza}}</p>
    </h5>

    <div class="container text-center"style="padding: 68px; margin-top: -65px;">

        <div class="row">

            {% for calza in calzados %}

                <div class="col-sm-4 align-items-center">
                    
                    <div class="card-body">
                        
                        <div class="galeria rounded">

                            <a class="list-group-item rounded bordercard" href="{% url 'Detalle_calzado' calza.id %}">
                            
                                {% if calza.imagen %}

                                <img class="styleimg"src="{{calza.imagen.url}}">

                                {% elif calza.imagen_b %}

                                <img class="styleimg"src="{{calza.imagen_b.url}}">
                                
                                {% else %}

                                <h3 class="noimg">
                                    Imagen no disponible
                                </h3>

                                {% endif %}



                                <h5 class="let_codigo">
                                    Codigo {{calza.codigo}}
                                </h5>
                                <h4 class="let_precio">
                                    <strong>${{calza.precio}}</strong>
                                </h4>
                                
                            </a>

                        </div>

                        {% if request.user.is_superuser %}
                    
                        <a class="btn btn-danger col-md-5" href="{% url 'EliminaCalzado' calza.codigo %}">
                            Eliminar
                        </a>
                        <a class="btn btn-secondary col-md-5" href="{% url 'EditarCalzado' calza.codigo %}">
                            Editar
                        </a>
                        
                        {% endif %}
                        
                    </div>
                    
                </div>

            {% endfor %}

        </div>

    </div>

</div>


{% if request.user.is_superuser %}
<div>
    <a class="btn btn-warning col-md-2" href="{% url 'Crear Calzado' %}">
        Agregar
    </a>
</div>
{% else %}

{% endif %}



{% endblock %}
