{% extends "app_feria/padre2.html" %}



{% block titulo %}

<h1 style="color:rgb(250, 254, 250) ;
text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px;">
    En esta seccion agregue los datos de la campera
</h1>


<form action = "" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            
    <table align="center" style="color:rgb(250, 254, 250) ;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <p>
            <div>
                {{formulario8.as_table}}
            </div>
        </p>
    </table>

    <br>
                    
    <button class="btn btn-secondary col-md-2"type="submit">Enviar</button>
                    
</form>
  

{% endblock %}