{% extends "app_feria/padre2.html" %}


{% block titulo %}

<h1 class="title_object">
    Ropa de invierno
</h1>

{% endblock %}


{% block descripcion %}



<div>

    <h5 class="buscador">
        <p>Estás buscando ropa de invierno para {{busqueda_inve}}</p>
    </h5>

    <div class="container text-center"style="padding: 68px; margin-top: -65px;">

        <div class="row">

            {% for inver in invernales %}

                <div class="col-sm-4 align-items-center">
                    
                    <div class="card-body">
                        
                        <div class="galeria rounded">

                            <a class="list-group-item rounded bordercard" href="{% url 'Detalle_invernal' inver.id %}">
                            
                                {% if inver.imagen %}

                                <img class="styleimg"src="{{inver.imagen.url}}">

                                {% elif inver.imagen_b %}

                                <img class="styleimg"src="{{inver.imagen_b.url}}">
                                
                                {% else %}

                                <h3 class="noimg">
                                    Imagen no disponible
                                </h3>

                                {% endif %}



                                <h5 class="let_codigo">
                                    Codigo {{inver.codigo}}
                                </h5>
                                <h4 class="let_precio">
                                    <strong>${{inver.precio}}</strong>
                                </h4>
                                
                            </a>

                        </div>

                        {% if request.user.is_superuser %}
                    
                        <a class="btn btn-danger col-md-5" href="{% url 'EliminaInvernal' inver.codigo %}">
                            Eliminar
                        </a>
                        <a class="btn btn-secondary col-md-5" href="{% url 'EditarInvernal' inver.codigo %}">
                            Editar
                        </a>
                        
                        {% endif %}
                        
                    </div>
                    
                </div>

            {% endfor %}

        </div>

    </div>

</div>


{% if request.user.is_superuser %}

<div>
    <a class="btn btn-warning col-md-2" href="{% url 'Crear Invernal' %}">
        Agregar
    </a>
</div>
{% else %}

{% endif %}



{% endblock %}