{% extends "app_feria/padre2.html" %}


{% block titulo %}
<h1 style="color:rgb(250, 254, 250) ;
text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px;">
    <ol>
        Jean
    </ol>
</h1>
{% endblock %}


{% block descripcion %}

<div class="container text-center">
    <div class="row">
        
        <h6>

            <h5>
                
                {% if jean.imagen and jean.imagen_b %}

                <ol>
                    <img src="{{jean.imagen.url}}"style="
                    width: 530px;
                    height: 600px;
                    border-style:solid ;
                    border-width: 3px;
                    border-color:black ;">
                    <img src="{{jean.imagen_b.url}}"style="
                    width: 530px;
                    height: 600px;
                    border-style:solid ;
                    border-width: 3px;
                    border-color:black ;">
                </ol>

                {% elif jean.imagen %}

                <ol>
                    <img src="{{jean.imagen.url}}"style="
                    width: 530px;
                    height: 600px;
                    border-style:solid ;
                    border-width: 3px;
                    border-color:black ;">
                </ol>

                {% elif jean.imagen_b %}

                <ol>
                    <img src="{{jean.imagen_b.url}}"style="
                    width: 530px;
                    height: 600px;
                    border-style:solid ;
                    border-width: 3px;
                    border-color:black ;">
                </ol>

                {% else %}

                <h1 style="color:rgb(250, 254, 250) ;
                text-shadow: 1px 2px 2px black, 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0);
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px;">
                    <ol>
                        Imagen no disponible
                    </ol>
                </h1>

                {% endif %}
            
            </h5>

            <h5 style="color:rgb(252, 252, 252) ;
            text-shadow: 1px 2px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0);
            text-align: center;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                
                {% if jean.codigo %}
                <ol>
                    Código: {{jean.codigo}}
                </ol>
                {% endif %}
                
                {% if jean.talle %}
                <ol>
                    Talle: {{jean.talle}}
                </ol>
                {% endif %}
                
                {% if jean.color %}
                <ol>
                    Color: {{jean.color}}
                </ol>
                {% endif %}

                {% if jean.genero %}
                <ol>
                    Para {{jean.genero}}
                </ol>
                {% endif %}

                {% if jean.genero %}
                <h2 style="color:rgb(252, 252, 252) ;
                text-shadow: 1px 2px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0);
                text-align: center;
                font-family:'Times New Roman', Times, serif ;">
                    <ol>
                        <strong>${{jean.precio}}</strong>
                    </ol>
                </h2>
                {% endif %}

                
                {% if request.user.is_authenticated %}
                
                <div>
                    <ol>
                        <a class="btn btn-primary col-md-2" href="https://www.instagram.com/outlet_ini2/?next=%2F" target="_blank">
                            <h4 style="width:160px;height:23px;">
                                <strong style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                    Consultar
                                </strong>
                            </h4>
                        </a>
                    </ol>
                </div>


                {% else %}
                <div>
                    <ol>
                        <a class="btn btn-primary col-md-2" href="{% url 'Login' %}">
                            <h4 style="width:160px;height:23px;">
                                <strong style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                    Consultar
                                </strong>
                            </h4>
                        </a>
                    </ol>
                </div>

                {% endif %}

            </h5>
            
                    
        </h6>

    </div>

    <ol>
        {% if request.user.is_superuser %}

        <a class="btn btn-danger col-md-2" href="{% url 'EliminaJean' jean.codigo %}">
            Eliminar Jean
        </a>
        <a class="btn btn-secondary col-md-2" href="{% url 'EditaJean' jean.codigo %}">
            Editar Jean
        </a> 
        {% else %}
        
        {% endif %}
    </ol>
    

</div>



{% endblock %}