<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Feria virtual</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'app_feria/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'app_feria/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'app_feria/css/galeria.css' %}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

                {% if request.user.is_authenticated %}
                
                <a class="navbar-brand" href="{% url 'Editarosalir' %}"><strong>Hola </strong>{{user.username}}</a>
                <a class="navbar-brand" href="{% url 'Inicio' %}">¡¡Feria Americana!!</a>



                {% else %}
                <a class="navbar-brand" href="{% url 'Iniciar_o_registrar' %}"><strong>Hola</strong>, Inicia tu sesión</a>
                <a class="navbar-brand" aria-current="page" href="{% url 'Inicio' %}">¡¡Feria Americana!!</a>

                {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Remera' %}">Remeras</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Camisas' %}">Camisas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Campera' %}">Camperas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Invernal' %}">Invernal</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Pantalon' %}">Pantalones</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Jeans' %}">Jeans</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Calzado' %}">Calzados</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer todo por 100' %}">Todo por $100</a></li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style=" 
        width: 100%;
        background-color: aquamarine;
        background-attachment: fixed;
        position: relative;">

            <div class="text-center my-1">
                
                
            

                {% block titulo %}


                {% endblock %}

                <p class="text-white-50 mb-0"></p>
                
                {% block descripcion %}



                {% endblock %}

            </div>
        </header>

        {% block pie %}


        {% endblock %}

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <div class="m-0 text-center text-white ">
                    <p class="m-0 text-center text-white">Copyright &copy; outlet_ini2 2022</p>
                </div>
            </div>
            <div class="conteiner">
                <div class="m-0 text-center text-white " >
                    <br>
                    <a href="https://www.instagram.com/outlet_ini2/?next=%2F" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"  style="
                        width: 4%;
                        margin-right: 1%;"> outlet_ini2</a>
                </div>
            </div>
        
        </footer>   
        <!-- Core theme JS-->
        <script src="{% static 'app_feria/js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>
