{% extends "app_feria/padre2.html" %}


{% block titulo %}
<h1 class="title_object">
    Pantalones/Shorts
</h1>
{% endblock %}


{% block descripcion %}



<div>

    <h5 class="buscador">
        <p>Estás buscando pantalon para {{busqueda_panta}}</p>
    </h5>

    <div class="container text-center"style="padding: 68px; margin-top: -65px;">

        <div class="row">

            {% for pantalon in pantalones %}

                <div class="col-sm-4 align-items-center">
                    
                    <div class="card-body">
                        
                        <div class="galeria rounded">

                            <a class="list-group-item rounded bordercard" href="{% url 'Detalle_pantalon' pantalon.id %}">
                            
                                {% if pantalon.imagen %}

                                <img class="styleimg"src="{{pantalon.imagen.url}}">

                                {% elif pantalon.imagen_b %}

                                <img class="styleimg"src="{{pantalon.imagen_b.url}}">
                                
                                {% else %}

                                <h3 class="noimg">
                                    Imagen no disponible
                                </h3>

                                {% endif %}



                                <h5 class="let_codigo">
                                    Codigo {{pantalon.codigo}}
                                </h5>
                                <h4 class="let_precio">
                                    <strong>${{pantalon.precio}}</strong>
                                </h4>
                                
                            </a>

                        </div>

                        {% if request.user.is_superuser %}
                    
                        <a class="btn btn-danger col-md-4" href="{% url 'EliminaPantalon' pantalon.codigo %}">
                            Eliminar
                        </a>
                        <a class="btn btn-secondary col-md-4" href="{% url 'EditarPantalon' pantalon.codigo %}">
                            Editar
                        </a>
                        
                        {% endif %}
                        
                    </div>
                    
                </div>

            {% endfor %}

        </div>

    </div>

</div>


{% if request.user.is_superuser %}

<div>
    <a class="btn btn-secondary col-md-2" href="{% url 'Crear Pantalon' %}">
        Agregar
    </a>
</div>

{% else %}
    
{% endif %}



{% endblock %}